@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to My ASP.Net DEMO Project that I developed during internship at  <a href="https://www.securifyidentity.com">Securify</a></h1>
    <img src="/uploads/securify.jpeg" class="img-thumbnail" width="600" height="270" />
    <p>Learn about <a href="https://www.securifyidentity.com">Securify</a>.</p>
</div>
